# **DATA WORLD**

Hello, join me in exploring the world of data.

This is to determine the salary of different data professionals based on their expertise, company and even their job roles.

This project is divided into two sections. Section A is data preparation and transformation while the second section is the EDA.

# **SECTION ONE**

This section is our transformation section. Here, I modified the table by replacing abbreviated data

<span style="color: var(--vscode-foreground);">I was inspecting the columns contained in the table.</span>

In [ ]:
SELECT * FROM DSSalary.dbo.Salaries

After inspecting the table, I noticed that some of the columns contained abbreviated data. I had to change that.

In [ ]:
SELECT DISTINCT experience_level, 
	CASE experience_level
		WHEN 'MI' THEN 'Mid-level'
		WHEN 'SE' THEN 'Senior-level'
		WHEN 'EX' THEN 'Executive-level'
		ELSE 'Entry-level'
	END AS updated_experience_level
FROM Salaries

Since, I had written a query to replace abbreviated data in the column, <span style="color: rgb(33, 33, 33); font-family: Consolas, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">experience_level</span><span style="color: var(--vscode-foreground);">, it is time to update the table.</span>

In [ ]:
UPDATE Salaries
SET experience_level =
	CASE experience_level
		WHEN 'MI' THEN 'Mid-level'
		WHEN 'SE' THEN 'Senior-level'
		WHEN 'EX' THEN 'Executive-level'
		ELSE 'Entry-level'
	END

Just like what I did previously, it is time to replace abbreviated data in the column employment\_type as well as update the table.

In [ ]:
SELECT DISTINCT employment_type,
	CASE employment_type
		WHEN 'PT' THEN 'Part-time'
		WHEN 'FT' THEN 'Full-time'
		WHEN 'CT' THEN 'Contract'
		ELSE 'Freelance'
	END AS EmploymentType
FROM Salaries

UPDATE Salaries
	SET employment_type = 
		CASE employment_type
		WHEN 'PT' THEN 'Part-time'
		WHEN 'FT' THEN 'Full-time'
		WHEN 'CT' THEN 'Contract'
		ELSE 'Freelance'
	END

Here we go with the column company\_size.

In [ ]:
SELECT DISTINCT company_size,
	CASE company_size
		WHEN 'L' THEN 'Large'
		WHEN 'S' THEN 'Small'
		ELSE 'Medium'
	END
FROM Salaries

UPDATE Salaries
	SET company_size =
		CASE company_size
		WHEN 'L' THEN 'Large'
		WHEN 'S' THEN 'Small'
		ELSE 'Medium'
	END

Let us add a new column that explains the column remote\_ratio

In [ ]:
ALTER TABLE Salaries
ADD location_type VARCHAR (50) NULL
	
UPDATE Salaries
	SET location_type = 
		CASE remote_ratio
			WHEN 100 THEN 'Remote'
			WHEN 50 THEN 'Hybrid'
			ELSE 'On-site'
		END

Let see our transformed table.

In [ ]:
SELECT * FROM DSSalary..Salaries

# **SECTION TWO**

The goal of this section is to explore the table to understand it as well as provide insights <span style="color: var(--vscode-foreground);">(EDA).&nbsp;</span> 

### <span style="color: var(--vscode-foreground);"><b>Note</b>: For uniformity, their salaries are in USD</span>

Firstly, let us determine what field in the data world pay the most on average.

Before we determine their pay, let us do a general census

In [22]:
SELECT COUNT(*) AS num_professionals
FROM Salaries

num_professionals
3755

Let us check the yearly trend

**<mark>My observation</mark>**: There have been steady growth in the data world

In [23]:
SELECT	work_year, 
		COUNT (*) AS num_professionals
FROM DSSalary..Salaries 
GROUP BY work_year
ORDER BY 1 DESC

work_year,num_professionals
2023,1785
2022,1664
2021,230
2020,76

Let us know how populated each fields are

**<mark>My observation</mark>**: I honestly did not know there were many job roles in the world of data, I will definitely learn more about them. From this table, there are 93 data jobs. I honestly thought there are more data analyst (DA), this was a shock when this revealed their are more data engineers (DE). Well, there might be more because this is a subset of the entire data population.

In [24]:
SELECT  job_title,
        COUNT(*) AS num_professionals
FROM DSSalary.dbo.Salaries
GROUP BY job_title
ORDER BY 2 DESC

job_title,num_professionals
Data Engineer,1040
Data Scientist,840
Data Analyst,612
Machine Learning Engineer,289
Analytics Engineer,103
Data Architect,101
Research Scientist,82
Applied Scientist,58
Data Science Manager,58
Research Engineer,37
ML Engineer,34
Data Manager,29
Machine Learning Scientist,26
Data Science Consultant,24
Data Analytics Manager,22
Computer Vision Engineer,18
AI Scientist,16
BI Data Analyst,15
Business Data Analyst,15
Data Specialist,14
BI Developer,13
Applied Machine Learning Scientist,12
Big Data Engineer,11
Machine Learning Infrastructure Engineer,11
AI Developer,11
Director of Data Science,11
Data Operations Engineer,10
Head of Data,10
Applied Data Scientist,10
ETL Developer,10
Machine Learning Software Engineer,10
Head of Data Science,9
Lead Data Scientist,9
BI Analyst,9
Principal Data Scientist,8
Data Science Lead,8
NLP Engineer,7
Data Quality Analyst,7
Machine Learning Developer,7
Machine Learning Researcher,6
Data Infrastructure Engineer,6
Lead Data Engineer,6
Data Analytics Engineer,6
Deep Learning Engineer,6
Computer Vision Software Engineer,5
Data Science Engineer,5
Cloud Database Engineer,5
Lead Data Analyst,5
Product Data Analyst,5
MLOps Engineer,4
Data Operations Analyst,4
Business Intelligence Engineer,4
3D Computer Vision Researcher,4
Machine Learning Research Engineer,4
Financial Data Analyst,3
Lead Machine Learning Engineer,3
Machine Learning Manager,3
Cloud Data Engineer,3
Data Modeler,2
ETL Engineer,2
Insight Analyst,2
Principal Data Engineer,2
Software Data Engineer,2
Big Data Architect,2
AI Programmer,2
Data Analytics Consultant,2
Data Scientist Lead,2
Applied Machine Learning Engineer,2
Data Lead,2
Data Analytics Specialist,2
Principal Data Analyst,2
Autonomous Vehicle Technician,2
Data Strategist,2
Data Analytics Lead,2
Marketing Data Analyst,2
Azure Data Engineer,1
Principal Machine Learning Engineer,1
Data Science Tech Lead,1
Compliance Data Analyst,1
Principal Data Architect,1
Staff Data Analyst,1
Marketing Data Engineer,1
Data Management Specialist,1
Power BI Developer,1
Product Data Scientist,1
Cloud Data Architect,1
Data DevOps Engineer,1
Manager Data Management,1
Head of Machine Learning,1
Finance Data Analyst,1
BI Data Engineer,1
Deep Learning Researcher,1
Staff Data Scientist,1

Let us drill down to determine the number of professional over time

<mark>**My observation**</mark>: I noticed there have been more people migrating into the world of data. Concentrating on DE, can I say DE became the talk of the town since 2022 (since we had more DEs compard to previous years?)

In [25]:
SELECT	work_year,
		job_title, 
		COUNT(*) AS num_professionals
FROM DSSalary.dbo.Salaries
GROUP BY work_year, job_title
ORDER BY 1 DESC, 3 DESC

work_year,job_title,num_professionals
2023,Data Engineer,499
2023,Data Scientist,370
2023,Data Analyst,307
2023,Machine Learning Engineer,158
2023,Research Scientist,55
2023,Data Architect,52
2023,Analytics Engineer,46
2023,Applied Scientist,40
2023,Research Engineer,32
2023,Data Science Manager,22
2023,Data Manager,22
2023,ML Engineer,14
2023,Data Analytics Manager,12
2023,BI Developer,10
2023,Computer Vision Engineer,10
2023,AI Developer,8
2023,Machine Learning Scientist,8
2023,Data Quality Analyst,7
2023,Data Science Consultant,7
2023,Data Science Lead,6
2023,Machine Learning Infrastructure Engineer,6
2023,Data Infrastructure Engineer,6
2023,Head of Data Science,5
2023,Deep Learning Engineer,4
2023,Machine Learning Software Engineer,4
2023,BI Analyst,4
2023,Business Intelligence Engineer,4
2023,NLP Engineer,4
2023,Cloud Database Engineer,3
2023,Head of Data,3
2023,Applied Data Scientist,3
2023,Business Data Analyst,3
2023,Director of Data Science,3
2023,Insight Analyst,2
2023,Software Data Engineer,2
2023,Data Science Engineer,2
2023,Data Specialist,2
2023,ETL Engineer,2
2023,Data Modeler,2
2023,MLOps Engineer,2
2023,Big Data Engineer,2
2023,AI Scientist,2
2023,Lead Data Analyst,2
2023,Data Lead,2
2023,Data Analytics Specialist,2
2023,Applied Machine Learning Engineer,2
2023,Applied Machine Learning Scientist,2
2023,Data Operations Engineer,2
2023,Data Strategist,2
2023,Azure Data Engineer,1
2023,BI Data Analyst,1
2023,Data DevOps Engineer,1
2023,Autonomous Vehicle Technician,1
2023,Big Data Architect,1
2023,Machine Learning Research Engineer,1
2023,Computer Vision Software Engineer,1
2023,Deep Learning Researcher,1
2023,Data Analytics Lead,1
2023,Compliance Data Analyst,1
2023,Financial Data Analyst,1
2023,Product Data Analyst,1
2023,AI Programmer,1
2023,Machine Learning Researcher,1
2023,Principal Data Scientist,1
2023,BI Data Engineer,1
2022,Data Engineer,488
2022,Data Scientist,405
2022,Data Analyst,276
2022,Machine Learning Engineer,109
2022,Analytics Engineer,57
2022,Data Architect,46
2022,Data Science Manager,29
2022,Applied Scientist,18
2022,Research Scientist,15
2022,ML Engineer,15
2022,Machine Learning Scientist,13
2022,Data Specialist,11
2022,Data Science Consultant,10
2022,ETL Developer,10
2022,AI Scientist,8
2022,Applied Machine Learning Scientist,8
2022,Data Operations Engineer,8
2022,Business Data Analyst,8
2022,BI Data Analyst,8
2022,Data Manager,7
2022,Data Analytics Manager,7
2022,Machine Learning Software Engineer,6
2022,Lead Data Scientist,6
2022,Machine Learning Developer,5
2022,Machine Learning Researcher,5
2022,BI Analyst,5
2022,Research Engineer,5
2022,Applied Data Scientist,5
2022,Computer Vision Engineer,4
2022,Head of Data,4
2022,Data Operations Analyst,4
2022,Machine Learning Infrastructure Engineer,3
2022,BI Developer,3
2022,Data Analytics Engineer,3
2022,NLP Engineer,3
2022,Lead Machine Learning Engineer,3
2022,AI Developer,3
2022,MLOps Engineer,2
2022,3D Computer Vision Researcher,2
2022,Cloud Database Engineer,2
2022,Product Data Analyst,2
2022,Data Scientist Lead,2
2022,Machine Learning Manager,2
2022,Financial Data Analyst,2
2022,Data Analytics Consultant,2
2022,Head of Data Science,2
2022,Director of Data Science,2
2022,Deep Learning Engineer,2
2022,Computer Vision Software Engineer,1
2022,Machine Learning Research Engineer,1
2022,Principal Data Scientist,1
2022,Cloud Data Engineer,1
2022,AI Programmer,1
2022,Principal Data Architect,1
2022,Manager Data Management,1
2022,Data Science Engineer,1
2022,Data Science Tech Lead,1
2022,Principal Data Analyst,1
2022,Principal Machine Learning Engineer,1
2022,Data Analytics Lead,1
2022,Product Data Scientist,1
2022,Data Science Lead,1
2022,Marketing Data Analyst,1
2022,Data Management Specialist,1
2022,Big Data Engineer,1
2022,Head of Machine Learning,1
2022,Lead Data Engineer,1
2021,Data Scientist,44
2021,Data Engineer,38
2021,Data Analyst,21
2021,Machine Learning Engineer,18
2021,Research Scientist,10
2021,Data Science Manager,6
2021,AI Scientist,5
2021,Principal Data Scientist,5
2021,Director of Data Science,5
2021,Big Data Engineer,5
2021,BI Data Analyst,5
2021,Data Science Consultant,5
2021,Machine Learning Scientist,4
2021,ML Engineer,4
2021,Data Architect,3
2021,Lead Data Engineer,3
2021,Computer Vision Software Engineer,3
2021,Data Analytics Manager,3
2021,Data Analytics Engineer,3
2021,Head of Data,3
2021,Computer Vision Engineer,3
2021,Principal Data Engineer,2
2021,Cloud Data Engineer,2
2021,Machine Learning Developer,2
2021,Machine Learning Research Engineer,2
2021,Applied Machine Learning Scientist,2
2021,Head of Data Science,2
2021,Data Science Engineer,2
2021,Lead Data Analyst,2
2021,Applied Data Scientist,2
2021,3D Computer Vision Researcher,2
2021,Lead Data Scientist,1
2021,Cloud Data Architect,1
2021,Marketing Data Analyst,1
2021,Finance Data Analyst,1
2021,Staff Data Scientist,1
2021,Marketing Data Engineer,1
2021,Big Data Architect,1
2021,Business Data Analyst,1
2021,Principal Data Analyst,1
2021,Power BI Developer,1
2021,Data Science Lead,1
2021,Autonomous Vehicle Technician,1
2021,Machine Learning Infrastructure Engineer,1
2021,Data Specialist,1
2020,Data Scientist,21
2020,Data Engineer,15
2020,Data Analyst,8
2020,Machine Learning Engineer,4
2020,Big Data Engineer,3
2020,Business Data Analyst,3
2020,Product Data Analyst,2
2020,Data Science Consultant,2
2020,Lead Data Engineer,2
2020,Research Scientist,2
2020,Lead Data Scientist,2
2020,Staff Data Analyst,1
2020,AI Scientist,1
2020,Data Science Manager,1
2020,ML Engineer,1
2020,Lead Data Analyst,1
2020,Principal Data Scientist,1
2020,Machine Learning Manager,1
2020,Director of Data Science,1
2020,Computer Vision Engineer,1
2020,BI Data Analyst,1
2020,Machine Learning Infrastructure Engineer,1
2020,Machine Learning Scientist,1

Time for the big guns, their salaries on average, atandard deviation as well as minimum salary and maximum salary

In [26]:
SELECT	job_title,
		AVG(salary_in_usd) AS avg_salaries,
		STDEV(salary_in_usd) AS sd_salary,
		MIN(salary_in_usd) AS min_salaries, 
		MAX(salary_in_usd) AS max_salaries
FROM DSSalary.dbo.Salaries
GROUP BY job_title
ORDER BY 2 DESC

job_title,avg_salaries,sd_salary,min_salaries,max_salaries
Data Science Tech Lead,375000,NULL,375000,375000
Cloud Data Architect,250000,NULL,250000,250000
Data Lead,212500,17677.66952966369,200000,225000
Data Analytics Lead,211254.5,273997.5137487565,17509,405000
Principal Data Scientist,198171.125,99306.05283298626,85847,416000
Director of Data Science,195140.72727272726,90014.3261909913,57786,353200
Principal Data Engineer,192500,10606.601717798212,185000,200000
Machine Learning Software Engineer,192420,99504.2131994643,10000,375000
Data Science Manager,191278.77586206896,63101.28631965037,54094,300000
Applied Scientist,190264.4827586207,52001.244466296725,72000,350000
Principal Machine Learning Engineer,190000,NULL,190000,190000
Head of Data,183857.5,92002.65135944,31520,329500
Data Infrastructure Engineer,175051.66666666666,19230.393045038592,143000,190000
Business Intelligence Engineer,174150,41029.948411698824,129300,225000
Machine Learning Scientist,163220.07692307694,65101.89207814046,12000,260000
Research Engineer,163108.37837837837,55055.42493420778,60000,293000
Data Architect,161713.77227722772,53281.34706365467,63000,376080
Research Scientist,161214.19512195123,74944.4316267906,23000,450000
Head of Data Science,160591.66666666666,77627.65781118222,60795,314100
ML Engineer,158352.4411764706,76590.45126503226,15966,289076
Data Science Lead,156334.375,65039.23657946245,60761,247500
Machine Learning Manager,155701.33333333334,41741.054195280405,117104,200000
Cloud Database Engineer,155000,28722.813232690143,115000,190000
Machine Learning Engineer,154690.7266435986,63142.493674234254,12000,342300
Analytics Engineer,152368.63106796116,53838.46762288281,7500,289800
Marketing Data Analyst,144327,78733.51165799733,88654,200000
Computer Vision Engineer,143536.11111111112,103187.87760419106,10000,342810
Machine Learning Infrastructure Engineer,143011.81818181818,60217.90250883566,50180,205920
Data Engineer,142785.7346153846,58038.09001415865,12000,324000
Data Analytics Manager,141879.0909090909,20849.716661108003,105400,204500
Data Scientist,140869.76547619049,60687.4554939087,5679,412000
Lead Data Engineer,139230.33333333334,75026.10287537708,56000,276000
AI Developer,136666.0909090909,95973.5539182066,6304,300000
Data Scientist Lead,136153,66251.66275649238,89306,183000
NLP Engineer,132785.2857142857,101547.2516725002,5132,275000
ETL Developer,131453.6,87523.59399257881,52533,250000
BI Developer,129846.15384615384,27370.44072792813,100000,197000
MLOps Engineer,129000,5773.502691896258,124000,134000
Big Data Architect,125802.5,36910.26687115659,99703,151902
Manager Data Management,125000,NULL,125000,125000
Deep Learning Researcher,123405,NULL,123405,123405
Principal Data Analyst,122500,67175.14421272202,75000,170000
Data Specialist,119642.85714285714,44383.463904159944,70000,221300
Data Modeler,118900,39880.82245892128,90700,147100
Data Manager,116613.3448275862,40124.743502763486,45600,199000
Applied Data Scientist,113726.3,106294.0297895418,20670,380000
Lead Data Scientist,112775.55555555556,66682.51893133446,29944,192000
AI Scientist,110120.875,111733.54135911919,12000,423834
Applied Machine Learning Scientist,109452.83333333333,108601.5339267472,30469,423000
Deep Learning Engineer,109241,39124.19908956604,49253,150000
Data Analyst,108716.227124183,46912.103453143216,5723,430967
Machine Learning Researcher,105872.66666666667,33824.507131171435,50000,150000
Staff Data Scientist,105000,NULL,105000,105000
BI Analyst,104888.88888888889,57925.47894589315,12000,200000
Financial Data Analyst,101666.66666666667,27537.852736430523,75000,130000
Azure Data Engineer,100000,NULL,100000,100000
Applied Machine Learning Engineer,99875.5,42602.476459708305,69751,130000
Data Operations Engineer,98485,41778.476981442116,60000,193000
Data Analytics Specialist,95000,14142.13562373095,85000,105000
Data Science Engineer,93482,42737.32836174952,40189,140000
Data Operations Analyst,90562.5,24150.89284063842,66000,123000
Cloud Data Engineer,87300.66666666667,73716.2156471243,12608,160000
Data Science Consultant,87011.75,40182.646119340796,5707,145000
Data Quality Analyst,85311.42857142857,14656.974936381466,64980,100000
Lead Machine Learning Engineer,82927.66666666667,13057.420202066485,69344,95386
Data Analytics Consultant,81500,44547.72721475249,50000,113000
Data Strategist,81000,12727.922061357855,72000,90000
Computer Vision Software Engineer,77694.6,49060.09889716897,19073,150000
Head of Machine Learning,76309,NULL,76309,76309
Machine Learning Developer,74518.28571428571,55142.175104343645,15000,180000
Lead Data Analyst,72569.4,62206.40731307347,18238,170000
ETL Engineer,71394.5,19334.42071798377,57723,85066
Big Data Engineer,68672,52825.12738460741,5882,161311
Data Management Specialist,68293,NULL,68293,68293
Data Analytics Engineer,67866.16666666667,49053.573449511976,13000,135000
Marketing Data Engineer,66970,NULL,66970,66970
Business Data Analyst,66065.4,46095.366770270026,9289,150000
Software Data Engineer,62510,17691.81166528742,50000,75020
Finance Data Analyst,61896,NULL,61896,61896
BI Data Analyst,60440.13333333333,40026.92849082382,6270,150000
BI Data Engineer,60000,NULL,60000,60000
Product Data Analyst,56497.2,59888.68954318503,6072,140000
AI Programmer,55000,21213.203435596424,40000,70000
Data DevOps Engineer,53654,NULL,53654,53654
Insight Analyst,46786,6014.650280772773,42533,51039
Machine Learning Research Engineer,42819.25,31155.59242870104,12171,72914
Principal Data Architect,38154,NULL,38154,38154
Compliance Data Analyst,30000,NULL,30000,30000
Autonomous Vehicle Technician,26277.5,27262.50194864734,7000,45555
3D Computer Vision Researcher,21352.25,20046.470684803015,5409,50000
Staff Data Analyst,15000,NULL,15000,15000
Product Data Scientist,8000,NULL,8000,8000
Power BI Developer,5409,NULL,5409,5409

Let us concentrate on Data Sciencist (DS), Data Enginner (DE) and Data Analyst (DA).

**<mark>My observation</mark>**: DE earned more in salary compaired to the other two.

In [27]:
SELECT	job_title,
		AVG(salary_in_usd) AS avg_salaries,
		STDEV(salary_in_usd) AS sd_salary,
		MIN(salary_in_usd) AS min_salaries, 
		MAX(salary_in_usd) AS max_salaries
FROM DSSalary.dbo.Salaries
GROUP BY job_title
HAVING job_title IN ('Data Scientist', 'Data Engineer', 'Data Analyst') 
ORDER BY 2 DESC

job_title,avg_salaries,sd_salary,min_salaries,max_salaries
Data Engineer,142785.7346153846,58038.09001415865,12000,324000
Data Scientist,140869.76547619049,60687.4554939087,5679,412000
Data Analyst,108716.227124183,46912.103453143216,5723,430967

Drilling down to check their yearly trend concentrating only on Data Sciencist, Data Enginner and Data Analyst.

**<mark>My observation</mark>**: There was an increase compensation/salary to data professionals. Can I say DS will be earning more than DE since they earn more in 2023...lol? 😁🙈

In [28]:
SELECT	work_year,
		job_title,
		AVG(salary_in_usd) AS avg_salaries,
		STDEV(salary_in_usd) AS sd_salary,
		MIN(salary_in_usd) AS min_salaries, 
		MAX(salary_in_usd) AS max_salaries
FROM DSSalary.dbo.Salaries
GROUP BY work_year, job_title
HAVING job_title IN ('Data Scientist', 'Data Engineer', 'Data Analyst') 
ORDER BY 1 DESC, 3 DESC

work_year,job_title,avg_salaries,sd_salary,min_salaries,max_salaries
2023,Data Scientist,156812.12162162163,60379.90132143969,9727,370000
2023,Data Engineer,151647.2885771543,57397.407470286766,12000,310000
2023,Data Analyst,114097.47557003258,46117.77601047322,15806,385000
2022,Data Engineer,139589.8893442623,55787.691192699145,24000,324000
2022,Data Scientist,136487.0962962963,53692.916331821194,10000,350000
2022,Data Analyst,107207.39855072464,46071.79582371841,5723,430967
2021,Data Engineer,93931.5,54480.99900151155,12103,200000
2021,Data Analyst,75024.95238095238,40557.718354804165,10354,200000
2021,Data Scientist,73351.43181818182,43588.45674930394,5679,165000
2020,Data Scientist,85970.52380952382,81436.64871089616,21669,412000
2020,Data Engineer,75726.93333333333,47306.8815040486,13493,188000
2020,Data Analyst,42705,35872.36808862379,6072,91000

Where can we find our data talents? Well, let us determine where majority of the data professionals resides.

**<mark>My observation</mark>**: Majority are Americans. As a Nigerian, I had to scroll to determine if there were any Nigerians and we have 7 Nigerians.

In [29]:
SELECT	cou.CountryName AS professionals_residence,
		COUNT(*) AS num_professionals, 
		AVG(sal.salary_in_usd) AS avg_salary
FROM DSSalary.dbo.CountryCodes cou
JOIN DSSalary.dbo.Salaries sal 
	ON cou.Code = sal.employee_residence
GROUP BY cou.CountryName
ORDER BY 2 DESC

professionals_residence,num_professionals,avg_salary
United States of America,3004,152822.01165113182
United Kingdom of Great Britain and Northern Ireland,167,86988.32335329341
Canada,85,132222.90588235293
Spain,80,60463.35
India,71,36218.45070422535
Germany,48,94772.25
France,38,61492.5
Portugal,18,53059
Brazil,18,48927.11111111111
Greece,16,55136.0625
"Netherlands, Kingdom of the",15,77483.46666666666
Australia,11,77980.54545454546
Mexico,10,92351.1
Italy,8,50816.25
Pakistan,8,30277.125
Nigeria,7,65000
Japan,7,103537.71428571429
Ireland,7,114943.42857142857
Poland,6,47478.833333333336
Austria,6,71125.83333333333
Argentina,6,35500
Belgium,5,71491.8
Puerto Rico,5,166000
Singapore,5,83120
T�rkiye,5,19058
Ukraine,4,57850
Slovenia,4,62766.75
Russian Federation,4,105750
Switzerland,4,100682
Latvia,4,57946.5
Colombia,4,64961
Bolivia (Plurinational State of),3,52500
Denmark,3,31192.666666666668
Croatia,3,75967.66666666667
Thailand,3,23064.333333333332
Romania,3,52164
Hungary,3,29892.666666666668
United Arab Emirates,3,100000
Viet Nam,3,33466.666666666664
Uzbekistan,2,103000
Philippines,2,47880
Sweden,2,105000
Lithuania,2,94812
Hong Kong,2,65542
Kenya,2,44636
Czechia,2,37565.5
Finland,2,69030
Ghana,2,18500
American Samoa,2,32777.5
Central African Republic,2,48609
Chile,2,72519
China,1,125404
Costa Rica,1,20000
Bulgaria,1,80000
Algeria,1,100000
Armenia,1,50000
Bosnia and Herzegovina,1,120000
Honduras,1,20000
Indonesia,1,15000
Iran (Islamic Republic of),1,100000
Iraq,1,100000
Cyprus,1,63312
Dominican Republic,1,110000
Egypt,1,22800
Estonia,1,31520
Kuwait,1,50000
Jersey,1,100000
Israel,1,423834
Luxembourg,1,59102
Malaysia,1,200000
Malta,1,28369
"Moldova, Republic of",1,18000
Morocco,1,10000
New Zealand,1,125000
Serbia,1,25532
Slovakia,1,12608
North Macedonia,1,6304
Tunisia,1,30469

Does company size affect their salaries?

**<mark>My observation</mark>**: From this dataset, I discovered that medium sized company pay more than large sized companies. So, can company size does not really matter since medium sized company paid their employee on average more than Large companies?

In [30]:
SELECT	company_size,
		AVG(salary_in_usd) AS avg_salaries,
		STDEV(salary_in_usd) AS sd_salary,
		MIN(salary_in_usd) AS min_salaries,
		MAX(salary_in_usd) AS max_salaries
FROM Salaries
GROUP BY company_size
ORDER BY 2 DESC

company_size,avg_salaries,sd_salary,min_salaries,max_salaries
Medium,143130.54836663496,58992.813381565655,5132,450000
Large,118300.98237885462,75832.39150456827,5409,423834
Small,78226.68243243243,61955.14179207966,5679,416000

Let's explore the average, standard deviation minimum and maximum salaries of DA, DE and DS  based on their experience level

**<mark>My observation</mark>:** This reveals that DE earn more than other DA and DS regardless of experience.

In [31]:
SELECT	job_title,
		experience_level,
		AVG(salary_in_usd) AS avg_salary,
		STDEV(salary_in_usd) AS sd_salary,
		MIN(salary_in_usd) AS min_salary,
		MAX(salary_in_usd) AS max_salary
FROM Salaries
GROUP BY experience_level, job_title
HAVING job_title IN ('Data Scientist', 'Data Engineer', 'Data Analyst') 
ORDER BY 1, 3

job_title,experience_level,avg_salary,sd_salary,min_salary,max_salary
Data Analyst,Entry-level,59802.74603174603,31161.34192158313,6072,150000
Data Analyst,Mid-level,101516.62275449102,49503.38354039237,5723,430967
Data Analyst,Senior-level,119930.21578947369,42046.20920427138,15806,385000
Data Analyst,Executive-level,120000,14142.13562373095,110000,130000
Data Engineer,Entry-level,91526.74242424243,45169.0112588472,12000,160000
Data Engineer,Mid-level,106074.89268292683,44505.08429258828,12103,260000
Data Engineer,Senior-level,153210.41364902508,52635.16459138578,25000,315000
Data Engineer,Executive-level,209920.96078431373,66197.83037319597,79833,324000
Data Scientist,Entry-level,74085.96610169491,44628.96397847405,9727,190000
Data Scientist,Mid-level,93945.8198757764,46279.30230120267,5679,225000
Data Scientist,Senior-level,158990.9605263158,53857.52616586508,20171,412000
Data Scientist,Executive-level,180645.83333333334,56276.55517956647,100000,300000

Let's explore the yearly trend average, standard deviation, minimum and maximum salaries of DA, DE and DS  based on their experience level

In [32]:
SELECT	work_year,
		job_title, 
		experience_level, 
		AVG(salary_in_usd) AS avg_salary,
		STDEV(salary_in_usd) AS sd_salary,
		MIN(salary_in_usd) AS min_salary,
		MAX(salary_in_usd) AS max_salary
FROM DSSalary..Salaries
GROUP BY experience_level, job_title, work_year
HAVING job_title IN ('Data Scientist', 'Data Engineer', 'Data Analyst') 
ORDER BY 1 DESC, 2, 4

work_year,job_title,experience_level,avg_salary,sd_salary,min_salary,max_salary
2023,Data Analyst,Entry-level,69523.1875,25352.525613752325,17779,150000
2023,Data Analyst,Mid-level,102252.40789473684,37276.282325424254,42533,206000
2023,Data Analyst,Senior-level,125788.94472361809,46342.60531351689,15806,385000
2023,Data Engineer,Entry-level,93027.3870967742,41700.8309914622,12000,160000
2023,Data Engineer,Mid-level,119405.67469879518,42755.70880698869,48289,260000
2023,Data Engineer,Senior-level,159132.20916905443,53249.62741663757,37558,310000
2023,Data Engineer,Executive-level,203898.22222222222,63508.79964005487,106500,310000
2023,Data Scientist,Entry-level,78459.42857142857,55556.99461982094,9727,190000
2023,Data Scientist,Mid-level,104014.78723404255,47092.19588347584,17022,200000
2023,Data Scientist,Senior-level,167741.16387959867,55245.91927208759,38631,370000
2023,Data Scientist,Executive-level,187875,58955.16775954043,100000,300000
2022,Data Analyst,Entry-level,49971.89473684211,36042.61518581509,6359,150000
2022,Data Analyst,Mid-level,105486.3875,59059.24647324231,5723,430967
2022,Data Analyst,Senior-level,114062.08571428571,35033.14780775769,36773,236600
2022,Data Analyst,Executive-level,120000,14142.13562373095,110000,130000
2022,Data Engineer,Mid-level,100644.68085106384,41743.52289289863,24000,260000
2022,Data Engineer,Entry-level,108741.24,43305.58559073722,43096,160000
2022,Data Engineer,Senior-level,148323.7605633803,51459.19006651061,25000,315000
2022,Data Engineer,Executive-level,234700,62705.07279196918,116100,324000
2022,Data Scientist,Entry-level,81272.44827586207,44669.85523465158,17684,180000
2022,Data Scientist,Mid-level,97502.75324675324,44970.27985358067,10000,225000
2022,Data Scientist,Executive-level,144500,20506.096654409877,130000,159000
2022,Data Scientist,Senior-level,151931.5185185185,47870.50140250808,37824,350000
2021,Data Analyst,Entry-level,55926.28571428572,26052.378226144632,10354,90000
2021,Data Analyst,Mid-level,75427.875,34367.83787387563,16904,135000
2021,Data Analyst,Senior-level,96769.5,55075.60181332565,50000,200000
2021,Data Engineer,Entry-level,52494.666666666664,23677.310030209657,21637,80000
2021,Data Engineer,Mid-level,81468.47619047618,53244.49762991388,12103,200000
2021,Data Engineer,Senior-level,140326.45454545456,36164.46279253608,76833,200000
2021,Data Scientist,Entry-level,58583.9,32010.218116685457,13400,100000
2021,Data Scientist,Mid-level,74809.76923076923,46168.548418426755,5679,160000
2021,Data Scientist,Senior-level,87071.25,46973.82600905073,20171,165000
2020,Data Analyst,Entry-level,40376.2,38635.90309802529,6072,91000
2020,Data Analyst,Mid-level,46586.333333333336,38500.290392844225,8000,85000
2020,Data Engineer,Entry-level,30854.25,20743.211023931017,13493,54742
2020,Data Engineer,Executive-level,79833,NULL,79833,79833
2020,Data Engineer,Senior-level,89803.33333333333,85344.55251703727,33511,188000
2020,Data Engineer,Mid-level,94749.14285714286,26691.165544855034,59303,130800
2020,Data Scientist,Entry-level,54983.333333333336,28087.587619207643,21669,105000
2020,Data Scientist,Mid-level,71256,35724.45451507973,35735,138350
2020,Data Scientist,Senior-level,172916.25,160779.83216887,68428,412000

Let us explore the mean salary, standard deviation and number of professionals based on their employment types.

**<mark>My observation</mark>:** Full time data professionals earn more. I honestly thought contract professionals earn more.

In [33]:
SELECT	employment_type,
		AVG(salary_in_usd) AS avg_salary,
		STDEV(salary_in_usd) AS sd_salary,
		COUNT(*) AS num_professionals
FROM Salaries
GROUP BY employment_type
ORDER BY 2 DESC

employment_type,avg_salary,sd_salary,num_professionals
Full-time,138314.1995696611,62452.17761328118,3718
Contract,113446.9,130176.74684183125,10
Freelance,51807.8,29458.87933600552,10
Part-time,39533.705882352944,38312.14518068113,17

On average, how much will you earn in 2023 if you work for a US based company?

**<mark>My observation</mark>:** Wow, US-based companies pay DS more than DE. Amazing! With this, can I say

In [34]:
SELECT	sal.job_title,
		sal.experience_level,
		AVG(sal.salary_in_usd) AS avg_salary,
		con.CountryName AS company_location
FROM CountryCodes con
JOIN Salaries sal
ON con.Code = sal.company_location
GROUP BY sal.company_location, con.CountryName, experience_level, job_title, work_year
HAVING work_year = 2023
	AND company_location = 'US' 
	AND job_title IN ('Data Scientist', 'Data Engineer', 'Data Analyst')
ORDER BY 1, 3

job_title,experience_level,avg_salary,company_location
Data Analyst,Entry-level,73665.5172413793,United States of America
Data Analyst,Mid-level,111056.55172413793,United States of America
Data Analyst,Senior-level,129346.26595744681,United States of America
Data Engineer,Entry-level,101000,United States of America
Data Engineer,Mid-level,128464.07352941176,United States of America
Data Engineer,Senior-level,160405.01470588235,United States of America
Data Engineer,Executive-level,203898.22222222222,United States of America
Data Scientist,Entry-level,108835.25,United States of America
Data Scientist,Mid-level,132479.64285714287,United States of America
Data Scientist,Senior-level,172593.97407407407,United States of America
Data Scientist,Executive-level,187875,United States of America

In the world of data, working remotely is now a norm. Let us determine how many professionals who work remotely.

**<mark>My observation</mark>**: Apparently, I was wrong. There are more on-site job.

In [35]:
SELECT	location_type, 
		COUNT(*) AS num_professionals
FROM Salaries
GROUP BY location_type
ORDER BY 2 DESC

location_type,num_professionals
On-site,1923
Remote,1643
Hybrid,189

Let us determine the modal job model for DS, DE and DA

**<mark>My observation</mark>**: There are more on-site DS, DE and DA jobs.🤷🏾‍♂️

In [36]:
SELECT	job_title, 
		(SELECT TOP 1 location_type
			FROM (
				SELECT	location_type,
						ROW_NUMBER () OVER (ORDER BY COUNT(*) DESC) AS row_number
				FROM DSSalary..Salaries
				WHERE job_title = t.job_title
				GROUP BY location_type
			) AS ranked
			WHERE row_number = 1) AS mode_job_model,
        AVG(remote_ratio) AS avg_remote_ratio
FROM DSSalary..Salaries AS t
GROUP BY job_title 
HAVING job_title IN ('Data Scientist', 'Data Engineer', 'Data Analyst')
ORDER BY 2 DESC

job_title,mode_job_model,avg_remote_ratio
Data Engineer,On-site,42
Data Analyst,On-site,45
Data Scientist,On-site,47